body {
  width: 100%;
  background: rgb(107, 73, 176);
  margin-top: 0;
  margin: 0;
  padding: 0;
}
#path-1 {
  width: 420px;
  height: 120px;
}
.svg-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffff00;
}
.svg-content-responsive {
  display: block;
  background-color: rgb(107, 73, 176);
}
#afterClick {
  display: none;
}
